ul {
   list-style-type: none;
   margin: 0;
   padding-left: 0;
}
a {
    text-decoration: none;
}
.gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.gallery-image {
    width: 340px;
    height: 200px;
}
.container {
    max-width: 1440px;
    padding: 24px 156px;
}
.modal {
    width: 1112pvpx;
    height: 640px;
    padding: 28px 164px;
    user-select: none;
    background-color: rgba(46, 47, 66, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; }